swagger: "2.0"
info:
  version: v1
  title: Opus Dental API
  description: |
    **⚠️ End of life notice:** This API is deprecated and will be replaced by
    Opus API v2. Do not build new integrations against v1 endpoints.
    Contact us for information on the v2 timeline.
host: tenantID.opusdentalonline.com
basePath: /api/public/v1
schemes:
  - https
paths:
  /auth/clinic/login:
    get:
      tags:
        - Authentication
      operationId: AuthenticationV1_Login
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: accountId
          in: query
          required: true
          type: string
          format: uuid
        - name: apiKey
          in: query
          required: true
          type: string
        - name: clinicOnlineIds
          in: query
          required: true
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: isLogin
          in: query
          required: true
          type: boolean
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/System.ValueTuple[System.String,System.String]"
  /appointments/schedule/overview/availabletimes:
    get:
      tags:
        - Availability
      operationId: AppointmentsV1_GetOverView
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.from
          in: query
          required: false
          type: string
          format: date-time
        - name: request.to
          in: query
          required: false
          type: string
          format: date-time
        - name: request.clinicID
          in: query
          required: false
          type: string
        - name: request.clinicianID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.treatmentID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.groupName
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.TimeSlotDTO"
  /appointments/schedule/availabletimes:
    get:
      tags:
        - Availability
      operationId: AppointmentsV1_GetAvailableTimesForScheduling
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.from
          in: query
          required: false
          type: string
          format: date-time
        - name: request.to
          in: query
          required: false
          type: string
          format: date-time
        - name: request.treatmentID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.clinicID
          in: query
          required: false
          type: string
        - name: request.clinicianID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.groupName
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.TimeSlotDTO"
  /appointments/reschedule/availabletimes:
    get:
      tags:
        - Availability
      operationId: AppointmentsV1_GetAvailableTimesForRescheduling
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.from
          in: query
          required: false
          type: string
          format: date-time
        - name: request.to
          in: query
          required: false
          type: string
          format: date-time
        - name: request.treatmentID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.timeslotLength
          in: query
          required: false
          type: integer
          format: int32
        - name: request.clinicID
          in: query
          required: false
          type: string
        - name: request.clinicianID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.groupName
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.TimeSlotDTO"
  /portal/arrival-registration/appointments/today/{DateOfBirth}:
    get:
      tags:
        - Arrival registration
      operationId: ArrivalRegistrationV1_GetTodaysAppointmentsByDateOfBirth
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: dateOfBirth
          in: query
          required: true
          type: string
        - name: request.dateOfBirth
          in: query
          required: false
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.ArrivalRegistration.Ap\
                pointmentDto"
  /portal/arrival-registration/check-in:
    patch:
      tags:
        - Arrival registration
      operationId: ArrivalRegistrationV1_RegisterPatientArrivalAtClinic
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.bookingId
          in: query
          required: false
          type: integer
          format: int32
        - name: request.clinicId
          in: query
          required: false
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
  /portal/arrival-registration/settings:
    get:
      tags:
        - Arrival registration
      operationId: ArrivalRegistrationV1_GetArrivalRegistrationSettings
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Settings.FeatureSettings.A\
              rrivalRegistrationFeatureSettings"
  
  /bi/campaignmanager/{Year}:
    get:
      tags:
        - Business Intelligence
      operationId: BiV1_GetPatientRevenue
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: year
          in: query
          required: true
          type: string
        - name: request.year
          in: query
          required: false
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientRevenueDto"
  /bi/trustbuilder:
    get:
      tags:
        - Business Intelligence
      operationId: BiV1_GetPatientsActiveBookings
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.fromDate
          in: query
          required: false
          type: string
          format: date-time
        - name: request.toDate
          in: query
          required: false
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientBookingDto"
  /bi/activebookings:
    get:
      tags:
        - Business Intelligence
      operationId: BiV1_GetPatientsActiveBookings
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.fromDate
          in: query
          required: false
          type: string
          format: date-time
        - name: request.toDate
          in: query
          required: false
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientBookingDto"
 
  /bookings:
    post:
      tags:
        - Bookings
      operationId: BookingsV1_AddBooking
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: booking
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.BookingDTO"
        - name: notifyPatient
          in: query
          required: false
          type: boolean
        - name: activatePatient
          in: query
          required: false
          type: boolean
      responses:
        "200":
          description: OK
          schema:
            format: int32
            type: integer
    delete:
      tags:
        - Bookings
      operationId: BookingsV1_CancelBooking
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.bookingID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.clinicID
          in: query
          required: false
          type: string
        - name: request.requestedBy
          in: query
          required: false
          type: string
        - name: request.requestedByPersonalId.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.requestedByPersonalId.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.requestedByPersonalId.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.requestedByPersonalId.extraDigits
          in: query
          required: false
          type: string
        - name: request.notifyPatient
          in: query
          required: false
          type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: object
    patch:
      tags:
        - Bookings
      operationId: BookingsV1_RescheduleBooking
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: booking
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.RescheduleDTO"
        - name: notifyPatient
          in: query
          required: false
          type: boolean
      responses:
        "200":
          description: OK
          schema:
            format: int32
            type: integer
  /clinicians:
    get:
      tags:
        - Clinicians
      operationId: CliniciansV1_GetClinicians
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.clinicID
          in: query
          required: false
          type: string
        - name: request.treatmentID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.onlyWithFreeTimes
          in: query
          required: false
          type: boolean
        - name: request.groupName
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.ClinicianDTO"
  
  /clinics:
    get:
      tags:
        - Clinics
      operationId: ClinicsV1_GetClinics
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.clinicianID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.treatmentID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.onlyWithFreeTimes
          in: query
          required: false
          type: boolean
        - name: request.groupName
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.ClinicDTO"
  /clinics/{id}:
    get:
      tags:
        - Clinics
      operationId: ClinicsV1_GetClinic
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.ClinicDTO"
  /clinics/accounts:
    get:
      description: "Gets the registered bank account numbers for all clinics connected to the itb account."
      tags:
        - Clinics
      operationId: ClinicsV1_GetClinicAccounts
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.ClinicAccountDTO"
  /clinics/{clinicId}/patients/{patientPersonalIdentification}/arrival:
    patch:
      description: |
        Registers the arrival of the specified patient for it´s appointment at the specified clinic. 
        Sets the arrival flag for all of the patient´s bookings for the current day on the specified clinic.
      tags:
        - Arrival registration
      operationId: ClinicsV1_RegisterPatientArrivalAtClinic
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clinicId
          in: path
          required: true
          type: string
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.clinicID
          in: query
          required: false           
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
  /clinics/{ClinicOnlineId}/invoices/exportable:
    get:
      tags:
        - Billing
      operationId: ClinicsV1_GetClinicExportableInvoices
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clinicOnlineId
          in: query
          required: true
          type: string
        - name: request.dueAfter
          in: query
          required: false
          type: string
          format: date-time
        - name: request.dueBefore
          in: query
          required: false
          type: string
          format: date-time
        - name: request.maxStatus
          in: query
          required: false
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - -2
            - -1
        - name: request.subscriptionFilter
          in: query
          required: false
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
        - name: request.createdAfter
          in: query
          required: false
          type: string
          format: date-time
        - name: request.createdBefore
          in: query
          required: false
          type: string
          format: date-time
        - name: request.clinicOnlineId
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Invoices.InvoiceOnlineRefe\
                rence"
  /clinics/{clinicOnlineId}/settlements:
    post:
      tags:
        - Billing
      operationId: ClinicsV1_RegisterSettlement
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clinicOnlineId
          in: path
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Fe\
              atures.Clinics.RegisterSettlement.Request"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Features.Clinics.Settlements.Set\
              tlementDto"
  /clinics/{ClinicOnlineId}/settlements/{Id}:
    get:
      tags:
        - Billing
      operationId: ClinicsV1_ViewSettlement
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clinicOnlineId
          in: query
          required: true
          type: string
        - name: id
          in: query
          required: true
          type: string
        - name: request.id
          in: query
          required: false
          type: integer
          format: int32
        - name: request.clinicOnlineId
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Features.Clinics.Settlements.Set\
              tlementDto"
  /companies/invoices/{InvoiceOnlineId}:
    get:
      tags:
        - Billing
      operationId: CompaniesV1_GetSpecificCompanyInvoice
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: InvoiceOnlineId
          in: path
          required: true
          type: string
        - name: request.anonymize
          in: query
          required: false
          type: boolean
        - name: request.invoiceOnlineId
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.CompanyInvoiceDto"
  
  /guardians/{guardianPersonalIdentification}/patients:
    get:
      tags:
        - Guardians
      operationId: GuardiansV1_GetGuardianPatients
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: guardianPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.guardianPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.guardianPersonalIdentificationParsed.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.guardianPersonalIdentificationParsed.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.guardianPersonalIdentificationParsed.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.guardianPersonalIdentificationParsed.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.GuardianPatientDTO"
  /guardians/{guardianPersonalIdentification}/patients/{patientPersonalIdentification}/access/{hasAccess}:
    patch:
      tags:
        - Guardians
      operationId: GuardiansV1_SetGuardianAccess
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: guardianPersonalIdentification
          in: path
          required: true
          type: string
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: hasAccess
          in: path
          required: true
          type: string
        - name: guardianAccess.guardianPersonalNumber.year
          in: query
          required: false
          type: integer
          format: int32
        - name: guardianAccess.guardianPersonalNumber.month
          in: query
          required: false
          type: integer
          format: int32
        - name: guardianAccess.guardianPersonalNumber.day
          in: query
          required: false
          type: integer
          format: int32
        - name: guardianAccess.guardianPersonalNumber.extraDigits
          in: query
          required: false
          type: string
        - name: guardianAccess.patientPersonalNumber.year
          in: query
          required: false
          type: integer
          format: int32
        - name: guardianAccess.patientPersonalNumber.month
          in: query
          required: false
          type: integer
          format: int32
        - name: guardianAccess.patientPersonalNumber.day
          in: query
          required: false
          type: integer
          format: int32
        - name: guardianAccess.patientPersonalNumber.extraDigits
          in: query
          required: false
          type: string
        - name: guardianAccess.hasAccess
          in: query
          required: false
          type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: object
  /guardians/{guardianPersonalIdentification}/bookings:
    get:
      tags:
        - Guardians
      operationId: GuardiansV1_GetGuardianPatientBookings
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: guardianPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.guardianPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.guardianPersonalIdentificationParsed.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.guardianPersonalIdentificationParsed.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.guardianPersonalIdentificationParsed.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.guardianPersonalIdentificationParsed.extraDigits
          in: query
          required: false
          type: string
        - name: request.includePastBookings
          in: query
          required: false
          type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.BookingDTOExtended"
  /portal/health-declaration/{patientPersonalIdentification}:
    get:
      tags:
        - Health Declaration
      operationId: HealthDeclarationV1_GetHealthcare
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Health.DTO.HealthDeclarati\
              onDTO"
    patch:
      tags:
        - Health Declaration
      operationId: HealthDeclarationV1_RegisterHealthcare
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: declaration
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Health.DTO.HealthDeclarati\
              onDTO"
        - name: bankIdConfirmed
          in: query
          required: false
          type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: object
  /invoices/{invoiceClinicId}:
    get:
      tags:
        - Billing
      operationId: InvoicesV1_GetInvoice
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: invoiceClinicId
          in: path
          required: true
          type: string
        - name: request.invoiceClinicId
          in: query
          required: false
          type: string
        - name: request.invoiceClinicIdParsed.invoiceId
          in: query
          required: false
          type: integer
          format: int32
        - name: request.invoiceClinicIdParsed.clinicId
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Invoices.DTO.InvoiceDTO"
  /invoices/unpaid:
    get:
      tags:
        - Billing
      operationId: InvoicesV1_GetUnpaidInvoices
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.subscriptionFilter
          in: query
          required: false
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Invoices.DTO.InvoiceBatchI\
                temDto"
  /invoices/unexported/from/{FromDate}:
    get:
      tags:
        - Billing
      operationId: InvoicesV1_GetUnexportedInvoicesFromDate
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: fromDate
          in: query
          required: true
          type: string
        - name: request.fromDate
          in: query
          required: false
          type: string
          format: date-time
        - name: request.subscriptionFilter
          in: query
          required: false
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Invoices.DTO.InvoiceBatchI\
                temDto"
  /invoices/{InvoiceOnlineId}/confirmExport:
    put:
      tags:
        - Billing
      operationId: InvoicesV1_Confirm
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: InvoiceOnlineId
          in: path
          required: true
          type: string
        - name: request.exportType
          in: query
          required: false
          type: string
        - name: request.invoiceOnlineId
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
    patch:
      tags:
        - Billing
      operationId: InvoicesV1_Confirm
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: InvoiceOnlineId
          in: path
          required: true
          type: string
        - name: request.exportType
          in: query
          required: false
          type: string
        - name: request.invoiceOnlineId
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object

  /kiosk/arrival-registration/settings:
    get:
      tags:
        - Arrival registration
      operationId: KioskArrivalRegistrationV1_GetArrivalRegistrationSettings
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Settings.FeatureSettings.A\
              rrivalRegistrationFeatureSettings"
  /kiosk/arrival-registration/clinics:
    get:
      tags:
        - Arrival registration
      operationId: KioskArrivalRegistrationV1_GetClinicsForKiosk
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Ki\
                osk.ArrivalRegistration.GetClinicsForKiosk.KioskClinicDto"
  /kiosk/arrival-registration/check-in/patient/appointments:
    patch:
      tags:
        - Arrival registration
      operationId: KioskArrivalRegistrationV1_CheckInPatientAppointments
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.dateOfBirth
          in: query
          required: false
          type: string
          format: date-time
        - name: request.personalNumber
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Kiosk.ArrivalRegistration.\
                AppointmentKioskDto"
  
  /opuscustomers/invoices/{InvoiceOnlineId}:
    get:
      tags:
        - Billing
      operationId: OpusCustomersV1_GetSpecificOpusCustomerInvoice
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: InvoiceOnlineId
          in: path
          required: true
          type: string
        - name: request.invoiceOnlineId
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.OpusCustomerInvoiceDto"
  /patients/{patientPersonalIdentification}:
    get:
      tags:
        - Patients
      operationId: PatientsV1_GetPatient
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientDTO"
    put:
      tags:
        - Patients
      operationId: PatientsV1_UpdatePatient
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientDTO
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientDTO"
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.patient.iD
          in: query
          required: false
          type: integer
          format: int32
        - name: request.patient.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.patient.personalNumber.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.patient.personalNumber.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.patient.personalNumber.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.patient.personalNumber.extraDigits
          in: query
          required: false
          type: string
        - name: request.patient.firstName
          in: query
          required: false
          type: string
        - name: request.patient.lastName
          in: query
          required: false
          type: string
        - name: request.patient.adress1
          in: query
          required: false
          type: string
        - name: request.patient.adress2
          in: query
          required: false
          type: string
        - name: request.patient.postalCode
          in: query
          required: false
          type: string
        - name: request.patient.city
          in: query
          required: false
          type: string
        - name: request.patient.email
          in: query
          required: false
          type: string
        - name: request.patient.mobilePhoneNumber
          in: query
          required: false
          type: string
        - name: request.patient.guardianPersonalNumber
          in: query
          required: false
          type: string
        - name: request.patient.municipalityCode
          in: query
          required: false
          type: string
        - name: request.patient.homePhoneNumber
          in: query
          required: false
          type: string
        - name: request.patient.workPhoneNumber
          in: query
          required: false
          type: string
        - name: request.patient.consentToMarketing
          in: query
          required: false
          type: boolean
        - name: request.patient.clinicId
          in: query
          required: false
          type: string
        - name: request.patient.clinicianId
          in: query
          required: false
          type: integer
          format: int32
        - name: request.patient.updatedOn
          in: query
          required: false
          type: string
          format: date-time
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
  /patients:
    get:
      tags:
        - Patients
      operationId: PatientsV1_SearchPatients
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.ssn
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
        - name: request.opusDatabaseId
          in: query
          required: false
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientDTO"
    post:
      tags:
        - Patients
      operationId: PatientsV1_AddPatient
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clinicID
          in: query
          required: true
          type: string
        - name: clinicianID
          in: query
          required: true
          type: integer
          format: int32
        - name: patient
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientDTO"
        - name: activatePatient
          in: query
          required: false
          type: boolean
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientDTO"
  /patients/{patientPersonalIdentification}/bookings:
    get:
      tags:
        - Bookings
      operationId: PatientsV1_GetBookings
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.includePastBookings
          in: query
          required: false
          type: boolean
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.BookingDTO"
  /patients/{patientPersonalIdentification}/bookings/extended:
    get:
      tags:
        - Bookings
      operationId: PatientsV1_GetExtendedBookings
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.includePastBookings
          in: query
          required: false
          type: boolean
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.BookingDTOExtended"
  /patients/{patientPersonalIdentification}/guardians:
    get:
      tags:
        - Guardians
      operationId: PatientsV1_GetGuardians
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientWithGuardiansDT\
              O"
  /patients/{patientPersonalIdentification}/invoices:
    get:
      tags:
        - Billing
      operationId: PatientsV1_GetInvoices
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.subscriptionFilter
          in: query
          required: false
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Invoices.DTO.InvoiceDTO"
  /patients/{patientPersonalIdentification}/invoices/unexported:
    get:
      tags:
        - Billing
      operationId: PatientsV1_GetUnexportedInvoices
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.clinicId
          in: query
          required: false
          type: string
        - name: request.subscriptionFilter
          in: query
          required: false
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Invoices.DTO.UnspecifiedIn\
                voiceDTO"
  /patients/invoices/{InvoiceOnlineId}:
    get:
      tags:
        - Billing
      operationId: PatientsV1_GetSpecificPatientInvoice
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: InvoiceOnlineId
          in: path
          required: true
          type: string
        - name: request.anonymize
          in: query
          required: false
          type: boolean
        - name: request.invoiceOnlineId
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientInvoiceDto"
  /patients/{patientPersonalIdentification}/quotes:
    get:
      tags:
        - Billing
      operationId: PatientsV1_GetQuotes
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.clinicId
          in: query
          required: false
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.QuoteDTO"
  /patients/{patientPersonalIdentification}/healthcare:
    get:
      tags:
        - Patients
      operationId: PatientsV1_GetHealthcare
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Health.DTO.HealthDeclarati\
              onDTO"
    patch:
      tags:
        - Patients
      operationId: PatientsV1_RegisterHealthcare
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: declaration
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Health.DTO.HealthDeclarati\
              onDTO"
        - name: bankIdConfirmed
          in: query
          required: false
          type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: object
  /patients/{patientPersonalIdentification}/prescriptions:
    get:
      tags:
        - Patients
      operationId: PatientsV1_GetPrescriptions
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Prescription.DTO.Prescript\
                ionDTO"
  /patients/{patientPersonalIdentification}/referrals:
    get:
      tags:
        - Patients
      operationId: PatientsV1_GetReferrals
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.ReferralDTO"
  /patients/{patientPersonalIdentification}/teeth/{toothNumber}/treatments:
    get:
      tags:
        - Patients
      operationId: PatientsV1_GetToothTreatments
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: toothNumber
          in: path
          required: true
          type: string
        - name: request.toothNumber
          in: query
          required: false
          type: integer
          format: int32
        - name: request.bankIdConfirmed
          in: query
          required: false
          type: boolean
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Mouth.DTO.ToothTreatmentDT\
                O"
  /patients/{patientPersonalIdentification}/teeth/status:
    get:
      tags:
        - Patients
      operationId: PatientsV1_GetTeethStatus
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.bankIdConfirmed
          in: query
          required: false
          type: boolean
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Mouth.DTO.MouthStatusDTO"
  /patients/{patientPersonalIdentification}/journal/insurance-records:
    get:
      tags:
        - Insurance
      operationId: PatientsV1_GetTeethInsuranceJournalRecords
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.clinicId
          in: query
          required: false
          type: string
        - name: request.bankIdConfirmed
          in: query
          required: false
          type: boolean
        - name: request.consent.consentGiven
          in: query
          required: false
          type: boolean
        - name: request.consent.consentUrl
          in: query
          required: false
          type: string
        - name: request.consent.startDate
          in: query
          required: false
          type: string
          format: date-time
        - name: request.consent.endDate
          in: query
          required: false
          type: string
          format: date-time
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Journal.DTO.NTHFJournalEnt\
                ryDTO"
  /patients/{patientPersonalIdentification}/journal/printout:
    get:
      tags:
        - Patients
      operationId: PatientsV1_GetJournalRecordsPrintout
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Journal.DTO.JournalPrintou\
                tRowDTO"
  
  /patients/{patientPersonalIdentification}/journal/freeTextRow:
    post:
      tags:
        - Patients
      operationId: PatientsV1_AddFreeTextRowToJournal
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: rowToAdd
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Journal.DTO.JournalFreeTex\
              tDTO"
      responses:
        "200":
          description: OK
          schema:
            type: object
  
  /reservations:
    put:
      tags:
        - Reservations
      operationId: ReservationsV1_MakeReservation
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: slotToReserve
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.TimeSlotDTO"
      responses:
        "200":
          description: OK
          schema:
            format: int32
            type: integer

  /timeslots:
    get:
      tags:
        - Availability
      operationId: TimeSlotsV1_GetCalendar
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: year
          in: query
          required: true
          type: integer
          format: int32
        - name: month
          in: query
          required: true
          type: integer
          format: int32
        - name: clinicID
          in: query
          required: false
          type: string
        - name: clinicianID
          in: query
          required: false
          type: integer
          format: int32
        - name: treatmentID
          in: query
          required: false
          type: integer
          format: int32
        - name: delay
          in: query
          required: false
          type: integer
          format: int32
        - name: groupName
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.TimeSlotDTO"

  /insurance/teeth:
    post:
      tags:
        - Insurance
      operationId: InsuranceV1_Register
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Fe\
              atures.DentalJournal.RegisterInsurance.Request"
      responses:
        "200":
          description: OK
          schema:
            type: object
    delete:
      tags:
        - Insurance
      operationId: InsuranceV1_Cancel
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Fe\
              atures.DentalJournal.CancelInsurance.Request"
      responses:
        "200":
          description: OK
          schema:
            type: object
  
  
  /treatments:
    get:
      tags:
        - Treatments
      operationId: TreatmentsV1_GetTreatments
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.clinicID
          in: query
          required: false
          type: string
        - name: request.clinicianID
          in: query
          required: false
          type: integer
          format: int32
        - name: request.groupName
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.TreatmentDTO"

  /api/public/fhir/v1/appointment:
    post:
      tags:
        - FHIR
      operationId: FhirBookingsV1_ScheduleAppointmentAsync
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/public/fhir/v1/appointmentResponse:
    post:
      tags:
        - FHIR
      operationId: FhirBookingsV1_CancelBookingAsync
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/public/fhir/v1/practitioner:
    get:
      tags:
        - FHIR
      operationId: FhirCliniciansV1_GetClinicians
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.identifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/public/fhir/v1/practitioner/_search:
    post:
      tags:
        - FHIR
      operationId: FhirCliniciansV1_SearchClinicians
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Fe\
              atures.FHIR.Clinicians.FhirGetClinicians.Request"
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/public/fhir/v1/slot:
    get:
      tags:
        - FHIR
      operationId: FhirTimeSlotsV1_GetAvailableTimeSlots
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: schedule.identifier
          in: query
          required: true
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: request.status
          in: query
          required: false
          type: string
        - name: request.start
          in: query
          required: false
          type: string
        - name: request.end
          in: query
          required: false
          type: string
        - name: request.identifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        "200":
          description: OK
          schema:
            type: object

  /api/melin/v1/clinics:
    get:
      tags:
        - Melin
      operationId: ClinicMelinV1_GetDetailedClinics
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.ClinicV2Dto"

  /api/melin/v1/invoices/{InvoiceOnlineId}/confirmExport:
    put:
      tags:
        - Melin
      operationId: InvoiceV1Melin_Confirm
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: InvoiceOnlineId
          in: path
          required: true
          type: string
        - name: request.invoiceOnlineId
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object

  /api/optin/v1/clinics/exportEnabled:
    get:
      tags:
        - Optin / Front
      operationId: OptinClinicV1_GetExportEnabled
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.Optin.OptinClinicDTO"

  /patients/{patientPersonalIdentification}/siodetails:
    get:
      tags:
        - SIO (Sweden)
      operationId: PatientsV1_GetJournalRecordsPrintout
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: patientPersonalIdentification
          in: path
          required: true
          type: string
        - name: request.patientPersonalIdentification
          in: query
          required: false
          type: string
        - name: request.personalIdentification.year
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.month
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.day
          in: query
          required: false
          type: integer
          format: int32
        - name: request.personalIdentification.extraDigits
          in: query
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Opus.Online.OnlineBooking.SocialInsuranceOffice.StatusView\
              .SocialInsuranceOfficePatientDTO"

  /reservations/{ReservationId}:
    delete:
      tags:
        - Reservations
      operationId: ReservationsV1_DeleteReservation
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: reservationId
          in: query
          required: true
          type: string
        - name: request.reservationId
          in: query
          required: false
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: object
  /reservations/available:
    get:
      tags:
        - Reservations
      operationId: ReservationsV1_IsTimeAvailable
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: timeSlotToCheck.iD
          in: query
          required: false
          type: integer
          format: int32
        - name: timeSlotToCheck.start
          in: query
          required: false
          type: string
          format: date-time
        - name: timeSlotToCheck.end
          in: query
          required: false
          type: string
          format: date-time
        - name: timeSlotToCheck.clinicID
          in: query
          required: false
          type: string
        - name: timeSlotToCheck.clinicianID
          in: query
          required: false
          type: integer
          format: int32
        - name: timeSlotToCheck.treatmentID
          in: query
          required: false
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: boolean
  
  /bookings/treatedlist:
    get:
      tags:
        - Bookings
      operationId: TreatedBookingsV1_TreatedBookings
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request.treatmentId
          in: query
          required: false
          type: integer
          format: int32
        - name: request.clinicianId
          in: query
          required: false
          type: integer
          format: int32
        - name: request.clinicId
          in: query
          required: false
          type: string
        - name: request.from
          in: query
          required: false
          type: string
          format: date-time
        - name: request.to
          in: query
          required: false
          type: string
          format: date-time
        - name: request.treatmentStatus
          in: query
          required: false
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.BookingSearchResultDTO"
  
definitions:
  Opus.Online.OnlineBooking.Model.AccountActivation:
    type: object
    properties:
      AccountID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Certificate:
        $ref: "#/definitions/Opus.Online.OnlineBooking.Model.PublicCertificate"
  Opus.Online.OnlineBooking.Model.PublicCertificate:
    type: object
    properties:
      SerialNumber:
        type: string
      Thumbprint:
        type: string
      Subject:
        type: string
      ExpirationDate:
        format: date-time
        type: string
      EffectiveDate:
        format: date-time
        type: string
      RawData:
        format: byte
        type: string
  Opus.Online.OnlineBooking.Model.Account:
    required:
      - ID
      - Created
      - EnterpriseAccount
    type: object
    properties:
      APIPermissionsFlattened:
        type: string
        readOnly: true
      OpusDatabases:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.OpusDatabase"
      Culture:
        type: string
      ID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Created:
        format: date-time
        type: string
      Company:
        maxLength: 100
        minLength: 0
        type: string
      ContactName:
        maxLength: 50
        minLength: 0
        type: string
      ContactEmail:
        maxLength: 150
        minLength: 0
        type: string
      ContactPhone:
        maxLength: 50
        minLength: 0
        type: string
      EnterpriseAccount:
        type: boolean
      Active:
        type: boolean
      Key:
        $ref: "#/definitions/Opus.Online.OnlineBooking.Model.ApiKey"
      APIPermissions:
        type: array
        items:
          format: int32
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 100
            - 101
            - 102
            - 103
          type: integer
      HasPortalEnabled:
        type: boolean
      HasOutageNotificationEnabled:
        type: boolean
  Opus.Online.OnlineBooking.Model.OpusDatabase:
    required:
      - OpusDatabaseID
      - AccountID
    type: object
    properties:
      Account:
        $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Account"
      OnPremiseAddresses:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.Infrastructure.OnPremiseAddress"
      TargetState:
        format: int32
        enum:
          - 0
          - 1
        type: integer
      HeartbeatTime:
        format: date-time
        type: string
      OutageNotificationLastSentOn:
        format: date-time
        type: string
      RoundtripAttempted:
        format: date-time
        type: string
      FailedRoundtripAttemptsNumber:
        format: int32
        type: integer
      LastAttemptedOnPremiseAddress:
        type: string
      ConnectionSwitchAttempts:
        format: int32
        type: integer
      SubdomainName:
        type: string
      OpusDatabaseID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      AccountID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Name:
        maxLength: 100
        minLength: 0
        type: string
      Active:
        type: boolean
      Culture:
        maxLength: 10
        minLength: 0
        type: string
      Clinics:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Clinic"
      Treatments:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Treatment"
      Version:
        maxLength: 20
        minLength: 0
        type: string
      CertificateThumbprint:
        type: string
      ClientVersion:
        maxLength: 100
        minLength: 0
        type: string
  Opus.Online.OnlineBooking.Model.ApiKey:
    required:
      - AccountId
      - Key
    type: object
    properties:
      AccountId:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Key:
        maxLength: 50
        minLength: 0
        type: string
  Opus.Online.Infrastructure.OnPremiseAddress:
    type: object
    properties:
      Uri:
        type: string
      ChannelType:
        format: int32
        enum:
          - 0
          - 1
        type: integer
  Opus.Online.OnlineBooking.Model.Clinic:
    required:
      - ID
      - OpusDatabaseID
      - Name
      - Order
    type: object
    properties:
      ID:
        format: int32
        type: integer
      OpusDatabaseID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Name:
        maxLength: 174
        minLength: 0
        type: string
      Address1:
        maxLength: 150
        minLength: 0
        type: string
      Address2:
        maxLength: 150
        minLength: 0
        type: string
      Postalcode:
        maxLength: 10
        minLength: 0
        type: string
      City:
        maxLength: 10
        minLength: 0
        type: string
      Home:
        maxLength: 30
        minLength: 0
        type: string
      Work:
        maxLength: 30
        minLength: 0
        type: string
      Fax:
        maxLength: 30
        minLength: 0
        type: string
      Mobile:
        maxLength: 30
        minLength: 0
        type: string
      Email:
        maxLength: 300
        minLength: 0
        type: string
      Clinicians:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.Clinician"
      SMSSenderID:
        type: string
      Order:
        format: int32
        type: integer
      ClinicTextHeader:
        type: string
      ClinicTextBody:
        type: string
      Group:
        type: string
      LinkMobilityUserName:
        type: string
      LinkMobilityServiceId:
        format: int32
        type: integer
      LinkMobilityPassword:
        type: string
      SMSSupplierId:
        format: int32
        type: integer
      Profession:
        maxLength: 60
        minLength: 0
        type: string
      ExternalID:
        maxLength: 50
        minLength: 0
        type: string
      ClinicApiPermissions:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.ClinicApiPermission"
      SeqID:
        format: int32
        type: integer
  Opus.Online.OnlineBooking.Model.Treatment:
    required:
      - ID
      - OpusDatabaseID
    type: object
    properties:
      UniqueId:
        type: string
        readOnly: true
      ID:
        format: int32
        type: integer
      OpusDatabaseID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Name:
        maxLength: 30
        minLength: 0
        type: string
      Description:
        maxLength: 150
        minLength: 0
        type: string
      Duration:
        format: int32
        type: integer
      CoolDownDuration:
        format: int32
        type: integer
      WarmUpDuration:
        format: int32
        type: integer
      CreateInWeb:
        type: boolean
      ChangeInWeb:
        type: boolean
      CancelInWeb:
        type: boolean
      ChangeInWebLimit:
        format: int32
        type: integer
      IsPriority:
        type: boolean
  Opus.Online.OnlineBooking.Model.Clinician:
    required:
      - ID
      - OpusDatabaseID
      - ClinicID
      - Order
    type: object
    properties:
      ProfileImage:
        maxLength: 1000
        minLength: 0
        type: string
      ClinicianPersonalDataConsents:
        type: array
        items:
          format: int32
          enum:
            - 1
            - 2
          type: integer
      ID:
        format: int32
        type: integer
      OpusDatabaseID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Name:
        maxLength: 174
        minLength: 0
        type: string
      Title:
        maxLength: 50
        minLength: 0
        type: string
      Active:
        type: boolean
      ClinicID:
        format: int32
        type: integer
      Order:
        format: int32
        type: integer
      Info:
        maxLength: 100
        minLength: 0
        type: string
      ExternalID:
        maxLength: 50
        minLength: 0
        type: string
      FirstName:
        maxLength: 50
        minLength: 0
        type: string
      LastName:
        maxLength: 50
        minLength: 0
        type: string
      MaxConcurrentWebBookingsPerTimePeriod:
        format: int32
        type: integer
      MaxConcurrentWebBookingsPerResource:
        format: int32
        type: integer
  Opus.Online.OnlineBooking.Model.ClinicApiPermission:
    type: object
    properties:
      ID:
        format: int32
        type: integer
      ClinicSeqID:
        format: int32
        type: integer
      PermissionType:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
        type: integer
        readOnly: true
      ClinicId:
        format: int32
        type: integer
      Permission:
        type: string
      IsGranted:
        type: boolean
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Admin.Features.Maintenance.Accounts.v1.DeleteAccount.Request:
    type: object
    properties:
      AccountId:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Hostname:
        type: string
      UserName:
        type: string
      IsLoopback:
        type: boolean
      UserHostAddress:
        type: string
  Opus.Online.OnlineBooking.Model.AdministrationSettings:
    required:
      - MinimalOpusVersion
      - MinimalBackendVersion
      - Created
    type: object
    properties:
      MinimalOpusVersion:
        type: string
      MinimalBackendVersion:
        type: string
      Created:
        format: date-time
        type: string
  Opus.Online.OnlineBooking.Model.DTO.APIPermissionsDTO:
    type: object
    properties:
      AccountID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      ApiPermissions:
        type: array
        items:
          format: int32
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 100
            - 101
            - 102
            - 103
          type: integer
      Hostname:
        type: string
      Username:
        type: string
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.APIPermissions.UpdateAPIPermissions.Response:
    type: object
    properties: {}
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.APIPermissions.GetAPIPermissions.Response:
    type: object
    properties:
      APIPermissions:
        type: array
        items:
          format: int32
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 100
            - 101
            - 102
            - 103
          type: integer
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.Appointments.GetOverview.Request:
    type: object
    properties:
      From:
        format: date-time
        type: string
      To:
        format: date-time
        type: string
      ClinicID:
        type: string
      ClinicianID:
        format: int32
        type: integer
      TreatmentID:
        format: int32
        type: integer
      GroupName:
        type: string
  Opus.Online.OnlineBooking.Model.DTO.TimeSlotDTO:
    type: object
    properties:
      ID:
        format: int32
        type: integer
      Start:
        format: date-time
        type: string
      End:
        format: date-time
        type: string
      ClinicID:
        type: string
      ClinicianID:
        format: int32
        type: integer
      TreatmentID:
        format: int32
        type: integer
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.Appointments.GetAvailableTime.Request:
    type: object
    properties:
      From:
        format: date-time
        type: string
      To:
        format: date-time
        type: string
      TreatmentID:
        format: int32
        type: integer
      ClinicID:
        type: string
      ClinicianID:
        format: int32
        type: integer
      GroupName:
        type: string
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.Appointments.GetRescheduleTime.Request:
    type: object
    properties:
      From:
        format: date-time
        type: string
      To:
        format: date-time
        type: string
      TreatmentID:
        format: int32
        type: integer
      TimeslotLength:
        format: int32
        type: integer
      ClinicID:
        type: string
      ClinicianID:
        format: int32
        type: integer
      GroupName:
        type: string
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Portal.ArrivalRegistration.GetTodaysAppointmentsByDateOfBirth.Request:
    type: object
    properties:
      DateOfBirth:
        format: date-time
        type: string
  Opus.Online.OnlineBooking.Model.DTO.ArrivalRegistration.AppointmentDto:
    type: object
    properties:
      BookingId:
        format: int32
        type: integer
      ClinicOnlineId:
        type: string
      ClinicName:
        type: string
      TreatmentName:
        type: string
      BookingStart:
        format: date-time
        type: string
      PatientArrivedAt:
        format: date-time
        type: string
      PatientSsn:
        type: string
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Portal.ArrivalRegistration.CheckInPatientForBooking.Request:
    type: object
    properties:
      BookingId:
        format: int32
        type: integer
      ClinicId:
        type: string
      PatientPersonalIdentification:
        type: string
      PersonalIdentification:
        $ref: "#/definitions/Opus.Online.OnlineBooking.Model.PersonalIdentification"
  Opus.Online.OnlineBooking.Model.PersonalIdentification:
    type: object
    properties:
      Year:
        format: int32
        type: integer
      Month:
        format: int32
        type: integer
      Day:
        format: int32
        type: integer
      ExtraDigits:
        type: string
  Opus.Online.OnlineBooking.Model.Settings.FeatureSettings.ArrivalRegistrationFeatureSettings:
    type: object
    properties:
      ArrivalRegistrationMessages:
        type: object
        additionalProperties:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.ArrivalRegistration.Messag\
            eSettingsDto"
      Enabled:
        type: boolean
  Opus.Online.OnlineBooking.Model.ArrivalRegistration.MessageSettingsDto:
    type: object
    properties:
      WelcomeMessage:
        type: string
      AppointmentFoundMessage:
        type: string
      AppointmentNotFoundMessage:
        type: string
      PatientNotFoundMessage:
        type: string
  System.ValueTuple[System.String,System.String]:
    type: object
    properties:
      Item1:
        type: string
      Item2:
        type: string
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.Timeslots.GetClinicianTimeslots.Request:
    type: object
    properties:
      ClinicianId:
        format: int32
        type: integer
      ClinicId:
        format: int32
        type: integer
      OpusDatabaseId:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
  Opus.Online.OnlineBooking.Model.AvailableTimeslotBatch:
    required:
      - Start
      - End
      - ClinicID
      - ClinicianID
      - OpusDatabaseID
    type: object
    properties:
      ID:
        format: int32
        type: integer
      Start:
        format: date-time
        type: string
      End:
        format: date-time
        type: string
      ClinicID:
        format: int32
        type: integer
      ClinicianID:
        format: int32
        type: integer
      OpusDatabaseID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      RowVersion:
        format: byte
        type: string
      AvailableTimes:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.AvailableTime"
      Treatments:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.AvailableAppointmentsSync.\
            Treatment"
  Opus.Online.OnlineBooking.Model.AvailableTime:
    type: object
    properties:
      <ResourceId>k__BackingField:
        format: int32
        type: integer
      <Range>k__BackingField:
        $ref: "#/definitions/Opus.Online.Infrastructure.Utils.Date.DateRange"
      <NumberOfFreeEmployeeTimesLeft>k__BackingField:
        format: int32
        type: integer
      <NumberOfFreeResourceTimesLeft>k__BackingField:
        format: int32
        type: integer
  Opus.Online.OnlineBooking.Model.AvailableAppointmentsSync.Treatment:
    type: object
    properties:
      TreatmentId:
        format: int32
        type: integer
      AllowAllReschedule:
        type: boolean
  Opus.Online.Infrastructure.Utils.Date.DateRange:
    type: object
    properties:
      From:
        format: date-time
        type: string
      To:
        format: date-time
        type: string
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.Timeslots.ProcessTimeSlotChanges.Request:
    type: object
    properties:
      TimeSlotDiff:
        $ref: "#/definitions/Opus.Online.OnlineBooking.Model.TimeSlotDiffV2"
  Opus.Online.OnlineBooking.Model.TimeSlotDiffV2:
    type: object
    properties:
      HasChanges:
        type: boolean
      OpusDatabaseID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Removed:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.AvailableTimeslotBatch"
      Added:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.AvailableTimeslotBatch"
  Opus.Online.OnlineBooking.Model.TimeSlot:
    required:
      - Start
      - End
      - ResourceId
      - ClinicID
      - ClinicianID
      - TreatmentID
      - OpusDatabaseID
    type: object
    properties:
      ID:
        format: int32
        type: integer
      Start:
        format: date-time
        type: string
      End:
        format: date-time
        type: string
      ResourceId:
        format: int32
        type: integer
      ClinicID:
        format: int32
        type: integer
      ClinicianID:
        format: int32
        type: integer
      TreatmentID:
        format: int32
        type: integer
      OpusDatabaseID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      RowVersion:
        format: byte
        type: string
      AllowAllReschedule:
        type: boolean
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.Timeslots.GetClinicianTimeslotsLegacy.Request:
    type: object
    properties:
      ClinicianId:
        format: int32
        type: integer
      ClinicId:
        format: int32
        type: integer
      OpusDatabaseId:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
  Opus.Online.OnlineBooking.Model.TimeSlotDiff:
    type: object
    properties:
      HasChanges:
        type: boolean
      OpusDatabaseID:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
      Removed:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.TimeSlot"
      Added:
        type: array
        items:
          $ref: "#/definitions/Opus.Online.OnlineBooking.Model.TimeSlot"
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.Authentication.GetBackendAPIToken.Request:
    type: object
    properties:
      Thumbprint:
        type: string
      AccountId:
        format: uuid
        type: string
        example: 00000000-0000-0000-0000-000000000000
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.Bi.GetPatientRevenue.Request:
    type: object
    properties:
      Year:
        format: int32
        type: integer
  Opus.Online.OnlineBooking.Model.DTO.PatientRevenueDto:
    type: object
    properties:
      PatientId:
        type: string
      TreatmentDate:
        type: string
      Amount:
        format: double
        type: number
      FirstName:
        type: string
      LastName:
        type: string
      PhoneMobile:
        type: string
      PhoneHome:
        type: string
      PhoneWork:
        type: string
  Opus.Online.OnlineBooking.Frontend.Web.Core.AppServices.Features.Bi.GetPatientsBookings.Request:
    type: object
    properties:
      FromDate:
        format: date-time
        type: string
      ToDate:
        format: date-time
        type: string
      StartDate:
        format: date-time
        type: string
        readOnly: true
      EndDate:
        format: date-time
        type: string
        readOnly: true
  Opus.Online.OnlineBooking.Model.DTO.PatientBookingDto:
    type: object
    properties:
      PatientId:
        type: string
      FirstName:
        type: string
      LastName:
        type: string
      Email:
        type: string
      PhoneMobile:
        type: string
      PhoneHome:
        type: string
      PhoneWork:
        type: string
      CountryCode:
        type: string
      AppointmentStart:
        format: date-time
        type: string
      ClinicianId:
        format: int32
        type: integer
      ClinicId:
        type: string
  Opus.Online.OnlineBooking.Model.DTO.BookingDTO:
    type: object
    properties:
      ID:
        format: int32
        type: integer
      Patient:
        $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.PatientDTO"
      TimeSlot:
        $ref: "#/definitions/Opus.Online.OnlineBooking.Model.DTO.TimeSlotDTO"
[...]
